/*********************************/
/* BELOW 1104px */
/*********************************/

@media (max-width: 69em) {
  .logo {
    width: 40%;
  }

  .main-nav-list {
    flex-wrap: nowrap;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
    white-space: nowrap;
  }

  .section-hero {
    padding-top: 2.4rem;
  }

  .hero {
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 1.6rem;
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*********************************/
/* BELOW 992px */
/*********************************/

@media (max-width: 62em) {
  .logo {
    width: 40%;
  }
}

/*********************************/
/* BELOW 880px */
/*********************************/

@media (max-width: 55em) {
  .logo {
    width: 60%;
  }

  .logo-zkwp {
    width: 90%;
    margin-left: -80%;
  }
}

/*********************************/
/* MOBILE BELOW 768px */
/*********************************/

@media (max-width: 48em) {
  .logo {
    width: 30%;
  }

  .logo-zkwp {
    width: 50%;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.975);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/*********************************/
/* MOBILE BELOW 520px */
/*********************************/

@media (max-width: 32.5em) {
  .logo {
    width: 50%;
  }

  .logo-zkwp {
    width: 90%;
    margin-left: -8rem;
    /* padding: 10px; */
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .dog {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.6rem;
  }

  .dog-prim {
    flex-direction: column;
  }

  .dog-name {
    font-size: 2.4rem;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .logo-col {
    display: flex;
    align-items: center;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .footer-heading {
    margin-bottom: 1.2rem;
  }

  .address {
    margin-bottom: 1.2rem;
  }

  .address-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1;
    border-bottom: 1px solid #767676;
    padding-bottom: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 30em) {
}
